<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="org.apache.cordova.fileopener" version="0.0.1">
    <name>FileOpener</name>
    <description>Cordova File Opener Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,file,opener</keywords>

    <js-module src="www/FileOpener.js" name="FileOpener">
        <clobbers target="FileOpener" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FileOpener">
                <param name="android-package" value="org.apache.cordova.fileopener.FileOpener"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <source-file src="src/android/FileOpener.java" target-dir="src/org/apache/cordova/fileopener" />

        <js-module src="www/FileOpener.js" name="FileOpener">
            <clobbers target="FileOpener" />
        </js-module>

    </platform>
</plugin>
